body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Varela Round', sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: black;
}

hr.light {
  border-color: #fff;
}

a {
  color: #FC5B63;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #FC5B63;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round', sans-serif;
}

.bg-primary {
  background-color: #fc5b63 !important;
  font-size: 20pt;
  padding: 8rem 0 0 0;
  line-height: 2rem;
  height: 30rem;
  /*-webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}

.bg-primary p {
  margin: 0;
}

.bg-dark {
  background-color: #373737 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 3rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.8);*/
  background-color: #373737;
  font-family: 'Varela Round', sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand img {
  height: 2rem;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #FC5B63;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #FC5B63 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: white;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: white;
  }
}

#subscribe-navbar-button {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid white;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(7rem - 56px);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead img {
  height: 8rem;
}

header.masthead hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

header.masthead p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 80vh;
    min-height: 680px;
    padding-top: 6rem;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }

  header.masthead p {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.service-box {
  max-width: 400px;
}


/*.team .team-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #000;
  background: #FF9F43;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}*/

/*.team-box .team-box-caption .team-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.team-box .team-box-caption .team-box-caption-content .project-category,
.team-box .team-box-caption .team-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Varela Round', sans-serif;
}

.team-box .team-box-caption .team-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.team-box .team-box-caption .team-box-caption-content .project-name {
  font-size: 18px;
}

.team-box:hover .team-box-caption {
  opacity: 1;
}

.team-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .team-box .team-box-caption .team-box-caption-content .project-category {
    font-size: 16px;
  }
  .team-box .team-box-caption .team-box-caption-content .project-name {
    font-size: 22px;
  }
}*/

.text-primary {
  color: #F05F40 !important;
}

.btn {
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Varela Round', sans-serif;
}

.btn-xl {
  width: 15rem;
  padding: .5rem 1rem;
}

.btn-primary {
  color: black;
  background-color: transparent;
  border-color: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: white;
  background-color: #373737 !important;
  border-color: black;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}

.btn-secondary {
  color: white;
  background-color: #373737;
  border-color: white;
  margin-bottom: 50px;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: black;
  background-color: white !important;
  border-color: black;
}

.btn-secondary:active, .btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) !important;
}

.masthead .spacing {
  margin: 1rem;
}

.service-box {
  padding: 0;
}

.spaces {
  background-color: #d9d9d9;
}

.spaces img {
  display: block;
  margin: auto;
  width: 70%;
  max-width: 18rem;
}

.footnote {
  font-size: 8pt;
  text-align: right;
}

.footer {
  color: white;
  background-color: #373737;
  text-align: right;
}

.footer p {
  font-size: 8pt;
  padding: 1rem;
  margin: 0;
  text-align: center;
}

#contact {
  padding: 6rem 0 .5rem;
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
}

.subscription-field {
  border-radius: 1rem;
}

.subscription-field input {
  background: none;
  border: 0;
  display: inline-block;
  outline: none;
  margin: 0;
  padding: 10px;
}

.subscription-field input:focus {
  outline: none;
}

input[type=email] {
  float: left;
  text-indent: 20px;
  padding-right: 110px;
  width: 100%;
}

input[type=submit] {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: #FC5B63;
  color: white;
  display: inline-block;
  border: none;
  float: right;
  padding-right: 20px;
  padding-left: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

input[type=submit]:hover {
  cursor: pointer;
}


@media (min-width: 1200px) {
    .btn-xl {
      font-size: 10pt;
      width: 12rem;
      padding: .7rem 1rem;
    }

    .universities img {
      display: block;
      margin: auto;
      width: 60%;
    }

  /*.spaces img {
    padding-top: 10%;
  }*/
}

.small {
  font-size: 12pt;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.icon-box {
  display: table-cell;
  vertical-align:middle;
  text-align:center;
}

.icon-box img {
  width: 70%;

}

.service-icon {
  margin: 0 auto;
}

.service-icon img {
  width: 8rem;
}

.left {
    left: 0;
    text-align: right;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -13px;
}

  .left {
    text-align: left;
  }

  .left::after, .right::after {
    left: 18px;
  }
  
  .right {
    left: 0%;
  }
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

#accordion .btn-link {
 color: black;
 text-transform: none;
}

#accordion .btn-link:hover {
 color: #fff;
 text-decoration: none;
}

#accordion .btn-link:focus {
 text-decoration: none;
}

#accordion .card-header {
  background-color: white;
  border: none;
}

#accordion .card {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

#faq {
  background-color: #EEEEEE;
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 96%);
}

#faq h6 {
  text-decoration: underline;
}

#team img {
  border-radius: 50%;
  max-width: 150px;
  /*box-shadow: 2px 2px 30px;*/
  /*border: 2px solid black;*/
}

#journey {
  background-color: #0097A7;
  color: #fff;
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 96%);
  padding: 8rem 0;
}

#journey h6 {
  font-weight: bold;
  margin-top: 50px;
}

#journey img {
  width: 50%; 
}

#journey hr {
  border-color: white;
}

#admissions a {
  margin-bottom: 30px;
}

.journey {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.admissions {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

#cta {
  margin-top: 40px;
}

.accordion {
    background-color: #eee;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 14pt;
}

@media (min-width: 992px) {
  .accordion {
    font-size: 18pt;
  }
}


.accordion svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  float: right;

  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion:focus {
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
    color: #fc5b63;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    color: #333;
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.accordion:after {
    /*content: '\02795';  Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    /*content: "\2796";  Unicode character for "minus" sign (-) */
}

.question {
  border-bottom: 1px solid #bbbbbb;
}

.accordion.active svg {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

#mc-submit {
  margin-left: 10px;
}

#mc_body {
  background-color: white;
  border-radius: 1.5rem;
  padding: 0;
  margin: 0;
}