body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Varela Round';
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #24305e;
}

hr.light {
  border-color: #fff;
}

hr.dark {
  border-color: black;
}

a {
  color: #F76C6C;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#description{
  font-size: 15pt;
}

.learn {
  font-size: 14pt;
}

a:hover {
  color: #f05f40;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round';
}

#header {
  -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 95%);
  clip-path: polygon(0 0,100% 0,100% 100%,0 95%);
}

#about {
  -webkit-clip-path: polygon(0 5%,100% 0,100% 100%,0 95%);
  clip-path: polygon(0% 5%, 100% 0,100% 100%,0 95%);
}

@media (min-width: 992px) {
  #header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  }

  #about {
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
  }
}

.footer {
    width: 100%;
    background-color: #373737;
    color: white;
    text-align: center;
    font-size: 8pt;
}

.mc-body {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 1.5rem;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}

.display-4 {
  font-size: 29pt;
}
.subscription-field {
  border-radius: 1rem;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    border-radius: 2rem;
}

input.subscription-field {
  background: none;
  border: 0;
  outline: none;
  margin: 0;
  padding: 10px;
}

input.subscription-field:focus {
  outline: none;
}

input[type=email] {
  text-indent: 20px;
  flex-grow: 1;
}

input[type=submit] {
  border-radius: 0 1.5rem 1.5rem 0;
  background-color: #F76C6C;
  color: white;
  border: none;
  padding-right: 20px;
  padding-left: 20px;
}

input[type=submit]:hover {
  cursor: pointer;
}

.bg-primary {
  background-color: #3498db !important;
  color: white;
}

.bg-secondary {
  background-color: #f29559 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 5rem 0;
}


.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  font-family: 'Varela Round';
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Varela Round';
}

#mainNav .navbar-brand img {
  display: none;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #3498db;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #3498db;
}

.subscribe-button {
  border: 1px solid white;
  border-radius: 50px;
}

#navbar-logo {
    width: 200;
    height: 200;
  }

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand img {
    display: inline-block;
  }
  #mainNav .navbar-brand .hike-brand {
    display: none;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: white;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #3498db;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #3498db;
  }
}

header.masthead {
  padding-top: 8rem;
  padding-bottom: calc(6rem - 56px);
  /*background-image: url("../img/header.jpg");*/
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*header text*/
header.masthead h1 {
  font-size: 2rem;
  font-weight: bold;
}

header.masthead p {
  color: #666666;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    min-height: 600px;
  }
  header.masthead h1 {
    font-size: 1.5rem;
  }
  header.masthead p {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    min-height: 730px;
  }
  header.masthead h1 {
    font-size: 1.5rem;
  }
  header.masthead p {
    font-size: 1.2rem;
  }
}

/*icons*/
.text-primary {
  color: #374785 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Varela Round';
  font-size: 15pt;
}

.btn-xl {
  padding: .8rem 4rem;
}

/*botao "quero"*/
.btn-primary {
  background-color: #373737;
  border-color: #373737;
}

/*botao "quero" hover*/
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #24305e !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.btn-secondary {
  background-color: #3498db;
  color: white;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

#team {
  padding: 2rem;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 100px;
  height: 100px;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

#credits {
  margin: 0;
  padding-bottom: 15px;
}

#curriculum {
  background-image: url("../img/curriculum/blurred-background.png");
  background-color: #F3F3F3;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#curriculum .section-heading {
  margin-bottom: 70px;
}

#testimonials {
  padding: 2rem;
}

#testimonials img {
  width: 50px;
}

#testimonials h2 {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.icon {
  max-width: 100px;
  margin: 20px;
}